<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Apply Leave</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <script src="{% static 'js/base.js' %}" defer></script>
</head>
<body>
    <div id="wrapper">
        <!-- Sidebar -->
        <nav id="sidebar">
            <ul>
                <li><a href="{% url 'student_dashboard' %}">Dashboard</a></li>
                <li><a href="{% url 'apply_leave' %}">Apply Leave</a></li>
                <li><a href="#">Leave History</a></li>
                <li><a href="{% url 'my_profile' %}">My Profile</a></li>
                <li><a href="{% url 'logout' %}">Logout</a></li>
            </ul>
        </nav>

        <!-- Main Content -->
        <div id="content">
            <header>
                <button id="sidebarToggle">&#9776;</button>
                <h1>Apply Leave</h1>
            </header>
            
        </div>
        
    </div>
    <main>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div>{{ form.leave_type.label }}</div>
            <div>{{ form.leave_type }}</div>
    
            <div>{{ form.duration.label }}</div>
            <div>{{ form.duration }}</div>
    
            <div>{{ form.reason.label }}</div>
            <div>{{ form.reason }}</div>
    
            <div id="dateField" style="display: none;">
                <p>{{ form.date.label }}</p>
                <div>{{ form.date }}</div>
            </div>
    
            <div id="dateRangeField" style="display: none;">
                <p>{{ form.start_date.label }}</p>
                <div>{{ form.start_date }}</div>
                <p>{{ form.end_date.label }}</p>
                <div>{{ form.end_date }}</div>
            </div>
    
            <div id="proofField" style="display: none;">
                <p>{{ form.proof.label }}</p>
                <div>{{ form.proof }}</div>
            </div>
    
            <button type="submit">Submit</button>
        </form>
    </main>
    
</body>
</html>
